{{!-- <nav class="navbar">

  <div class="nav-container">

    <div class="nav-left">
      <a href="/"><img src="/images/logo.png" alt=""></a>
      <p class="nav-heading">BlogByte.</p>
    </div>

    <div class="nav-right">
      <form id="logout-form" class="nav-btn log-in-btn" action="/admin/profile/logout" method="POST">
        <button>Logout</button>
      </form>
      <a href="/user-login" class="nav-btn log-in-btn">Log In</a>
    </div>

  </div>
  <hr>
<nav> --}}

<div class="left">Logo</div>
  <div class="right">
    <form id="logout-form" action="/admin/profile/logout" method="POST">
      <button>Logout</button>
    </form>
  </div>
</nav>

{{#if userInSession}}

  <h2>Hello Admin,{{userInSession.fullname}}</h2>

{{else}}
  <h2>Still no logged in user,Sorry!</h2>

{{/if}}

{{#each data}}

  <h2><a href="/admin/profile/{{this._id}}">{{this.username}}</a></h2>

  <a href="/admin/profile/delete/{{this._id}}">Delete This Profile</a>
{{/each}}


</nav>