<!-- SIDEBAR -->
<section id="sidebar">
  <div class="user-nav-left">
    <a href="/user-dashboard"><img
        src="/images/blogbytes-logo-black.png"
        alt=""
      /></a>
  </div>

  <ul class="side-menu top">
    <li class="active">
      <a href="/user-dashboard">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/user-profile">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Profile</span>
      </a>
    </li>
    <li>
      <a href="/create-blog">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Create-Blog</span>
      </a>
    </li>
    <li>
      <a href="/explore">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Explore</span>
      </a>
    </li>

  </ul>
  <ul class="side-menu">

    <li>
      <a href="/user-logout" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
    <a href="/explore" class="nav-link">Explore More Blogs</a>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search..." />
        <button type="submit" class="search-btn"><i
            class="bx bx-search"
          ></i></button>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode"></label>

    <a href="/user-profile" class="profile">
      <img src="/images/profile.svg" />
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="/user-dashboard">Home</a>
          </li>
        </ul>
      </div>
      <a href="#" class="btn-download">
        <i class="bx bx-user"></i>
        <span class="text">Welcome {{username}}</span>
      </a>
    </div>

    <div class="table-data">

      <div class="order">
        <div class="head">
          <h3 class="dashboard-display-heading">Most Liked</h3>

          <div class="dashboard-tud">
            <h2 class="dashboard-title">{{firstTwoObj.0.title}}</h2>
            <h3 class="dashboard-username"><span class="dashboard-starttext">
                Username:</span>{{firstTwoObj.0.creatorName}}</h3>
            <p class="dashboard-description"><span
                class="dashboard-starttext"
              ></span>{{firstTwoObj.0.description}}</p>

          </div>
          <div class="like-comment">

            <p class="">Total Likes:{{firstTwoObj.0.likes}}</p>
            <p class="">Total Comments:{{firstTwoObj.0.totalComments}}</p>
          </div>
          <div class="comment-section">

            <h3>Write a comment:</h3>
            <form
              action="/user-dashboard/{{firstTwoObj.0.blogId}}"
              method="POST"
            >
              <textarea
                type="textarea"
                id="comments"
                name="comments"
                rows="4"
                cols="50"
                placeholder="write your comment here"
              ></textarea>

              <button type="submit" class="comment-btn">Create Comment</button>
            </form>
          </div>
          <div class="dashboard-comment-reverse">

            {{#each firstTwoObj.0.comments}}
              <p class="blog-comments">Comments: {{this}}</p>
            {{/each}}
          </div>
        </div>

      </div>

      <div class="order">
        <div class="head">
          <h3 class="dashboard-display-heading">Second Most Liked</h3>

          <div class="dashboard-tud">
            <h2 class="user-blog-title">Title:{{firstTwoObj.1.title}}</h2>
            <h3
              class="user-blog-creator"
            >Username:{{firstTwoObj.1.creatorName}}</h3>
            <p
              class="user-blog-description"
            >Description:{{firstTwoObj.1.description}}</p>
          </div>
          <div class="like-comment">
            <p class="user-blog-likes">Total Likes:{{firstTwoObj.1.likes}}</p>
            <p class="user-blog-likes">Total Comments:{{firstTwoObj.1.totalComments}}</p>

          </div>
          <div class="comment-section">

            <h3>Write a comment:</h3>
            <form
              action="/user-dashboard/{{firstTwoObj.1.blogId}}"
              method="POST"
            >
              <textarea
                type="textarea"
                id="comments"
                name="comments"
                rows="4"
                cols="50"
                placeholder="write your comment here"
              ></textarea>

              <button type="submit" class="comment-btn">Create Comment</button>
            </form>
          </div>

          <div class="dashboard-comment-reverse">

            {{#each firstTwoObj.1.comments}}
              <p class="blog-comments">Comments: {{this}}</p>
            {{/each}}
          </div>

        </div>

      </div>
    </div>
  </main>
</section>