{{> navbar}}

<div>
    <h2>Edit blog</h2>
  <form action="/edit-blog/{{blog._id}}" method="POST">

    <label> Edit Title
      <input value="{{blog.title}}" type="text" name="title"/>
    </label>

    <label for="topic">Edit Topic</label>
        <select id="topic" name="topic" required>
          <option value="" disabled selected>{{blog.topic}}</option>
            {{#each topics}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>
    
    <label> Edit Blogentry
      <textarea type="textarea" id="entry" name="entry" rows="4" cols="50">{{blog.entry}}</textarea>
    </label>

    <button type="submit">Save</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>