<section id="sidebar">
  <div class="user-nav-left">
    <a href="/user-dashboard"><img src="/images/blogbytes-logo-black.png" alt="" /></a>
  </div>

  <ul class="side-menu top">
    <li class="active">
      <a href="/user-dashboard">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/user-profile">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Profile</span>
      </a>
    </li>
    <li>
      <a href="/create-blog">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">Create-Blog</span>
      </a>
    </li>
    <li>
      <a href="/explore">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Explore</span>
      </a>
    </li>

  </ul>
  <ul class="side-menu">

    <li>
      <a href="/user-logout" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content" class="anim">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
    <a href="/explore" class="nav-link">Explore Blogs</a>
    <form action="#">

    </form>
    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode"></label>

    <a href="/user-profile" class="profile">
      <img src="/images/profile.svg">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Create Your Own Blog</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class="bx bx-chevron-right"></i></li>
          <li>
            <a class="active" href="/user-dashboard">Create Your Own Blog</a>
          </li>
        </ul>
      </div>
      <a href="/user-dashboard" class="btn-download">
        <i class="bx bx-book"></i>
        <span class="text">BlogByte</span>
      </a>
    </div>


    <div class="table-data">

      <div class="order">
        <div class="head">
          <div class="wrapper">
            <div class="title">
              Create Your Own Blog
            </div>
            <form action="/edit-blog/{{blog._id}}" method="post">
              <div class="form">
                <div class="inputfield">
                  <label>Title:</label>
                  <input type="text" value="{{blog.title}}" class="input" name="title"
                    placeholder="give your blog a title" />
                </div>
                <div class="inputfield">

                  <label for="topic">Topic:</label>
                  <select id="topic" name="topic" class="custom_select" required>
                    <option value="" disabled selected>{{blog.topic}}</option>
                    {{#each topics}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                  </label>


                </div>
                <div class="inputfield">

                  <label>
                    <textarea type="textarea" id="entry" name="entry" rows="30" cols="45"
                      >{{blog.entry}}</textarea>
                  </label>
                </div>

                <div class="inputfield">
                  <button type="submit" class="create-btn">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </main>
</section>

