{{> navbar}}

<section class="explore">

    <h2 class="explore-heading">
        Explore More Blogs
    </h2>

    {{#each data}}


    <div class="short-blog">
        <a href="/explore-blog/{{this._id}}" class="short-blog-link">
            <div class="short-blog-div">
                {{!-- <h3 class="creator-name">{{this.title}}</h3> --}}

                <h3 class="blog-topic">Topic:{{this.topic}}</h3>
                <h3 class="blog-name">Title:{{this.title}}</h3>
                <h3 class="blog-username">Username:{{this.creator.username}}</h3>
                <h3 class="blog-likes">Likes:{{this.likes}}</h3>

                <a href="/explore-blog/{{this._id}}">Read In Detail</a>
            </div>
        </a>
    </div>

    {{/each }}

</section>