
<section class="explore-blog">

    <div class="explore-blog-info">

        <h2 class="blog-info-title">
            Title:{{data.title}}
        </h2>
        <h4 class="blog-info-username">
            Written by:{{data.creator.username}}
        </h4>
        <h4 class="blog-info-topic">
            topic:{{data.topic}}
        </h4>
        <p class="blog-info-description">
            Description:{{data.entry}}
        </p>
        <h3>Comments</h3>
            {{#each data}}
                {{#each comments}}
                    <p>{{this}}</p>
                {{/each}}
            {{/each}}
        
        <h3>Write a comment:</h3>
            <form action="/explore-blog/{{data._id}}" method="POST">
                <textarea type="textarea" id="comments" name="comments" rows="4" cols="50" placeholder="write your comment here"></textarea>

            <button type="submit">Create Comment</button>
        </form>

    </div>

</section>